// app global css in SCSS form
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 200;
  src: url('src/assets/fonts/Sora-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Sora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Sora-Bold.ttf') format('truetype');
}

html,
body {
  font-size: 13;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Sora';
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.header {
  color: $primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  .header-left {
    align-items: center;
    display: flex;
    font-weight: 700;
    .q-item {
      transition: 0.3s;
      margin-left: 25px;
    }
    .header-menu-active {
      color: $secondary;
    }
    .q-item:hover {
      .q-focus-helper {
        background: transparent !important;
        opacity: 0 !important;
      }
      transition: 0.3s;
      color: $secondary;
    }
    .header-logo {
      border-radius: 10px;
      width: 50px;
    }
  }
  .header-right {
    .header-icon-container {
      img {
        width: 25px;
        transition: 0.3s;
        &:first-child {
          margin-right: 20px;
        }
      }

      img:hover {
        filter: opacity(0.5);
        transition: 0.3s;
      }
    }
  }
}

.article-card-container {
  margin: 15px;
  img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-width: 300px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
  }

  .article-card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
}

.index-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
