// app global css in SCSS form
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 200;
  src: url('src/assets/fonts/Sora-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/Sora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  src: url('src/assets/fonts/Sora-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/Sora-Bold.ttf') format('truetype');
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Sora';
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  color: $secondary;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  &:hover {
    color: cornflowerblue;
    transition: 0.3s;
  }
}

.header {
  color: $primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

  .header-left {
    align-items: center;
    display: flex;
    font-weight: 700;
    .q-item {
      transition: 0.3s;
    }
    .header-menu-active {
      color: $secondary;
    }
    .q-item:hover {
      .q-focus-helper {
        background: transparent !important;
        opacity: 0 !important;
      }
      transition: 0.3s;
      color: $secondary;
    }
    .header-logo {
      border-radius: 10px;
      width: 50px;
    }
  }
  .header-right {
    .header-icon-container {
      img {
        width: 25px;
        transition: 0.3s;
        &:first-child {
          margin-right: 20px;
        }
      }

      img:hover {
        filter: opacity(0.5);
        transition: 0.3s;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .header-icon-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.article-card-container {
  margin: 15px;
  max-width: 450px;
  min-width: 300px;
  text-align: justify;
  img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-width: 300px;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
  }

  .article-card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
}

.index-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.article-container {
  padding: 40px;
  max-width: 960px;
  margin: auto;
  font-size: 14px !important;

  .article-illustration {
    display: flex;
    margin: 20px;
    img {
      width: 100%;
      max-width: 680px;
      margin: auto;
      border-radius: 6px;
    }
  }

  .article-title {
    font-weight: 700;
    font-size: 42px;
  }

  .article-content-container {
    text-align: justify;
    .paragraph-title {
      font-weight: 500;
      font-size: 28px;
    }

    .paragraph-content {
      margin: 15px 0 30px 0;
      text-indent: 18px;
    }
  }
}

.generator-container {
  padding: 40px;
  .form {
    text-align: center;
    margin: 0 auto;
  }
}

.about-container {
  padding: 40px;

  b {
    font-size: 38px;
    font-style: italic;
  }

  .about-image {
    padding: 15px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .about-description {
    text-align: justify;
    text-indent: 18px;
    font-size: 16px !important;
    margin: 20px 0 20px 0;
  }
}
